{% extends "base.html.twig" %}

{% block title %}{{ locale.name }} | Lettings Agent Reviews | {{ site_name }}{% endblock %}

{% block headJavascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
{% endblock %}

{% block content %}
    <script>
        window.localeSlug = '{{ locale.slug }}';
    </script>
    <div class="container">

        <div class="col-md-12 page-title">
            <h1>{{ locale.name }}</h1>
        </div>

        <div class="bg-white rounded shadow-sm p-4 mb-4">

            <div class="row">
                {% include 'locale/content/' ~ locale.slug ~ '.html.twig' ignore missing  %}
            </div>

            <hr>

            <div id="locale-view-root"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('locale-view') }}
{% endblock %}