{% extends "base.html.twig" %}

{% block title %}{{ branch.name }} | Lettings Agent Reviews | {{ site_name }}{% endblock %}

{% block headJavascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
{% endblock %}

{% block content %}
    <script>
        window.branchSlug = '{{ branch.slug }}';
    </script>
    <div class="container">
        <div id="branch-view-root"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('branch-view') }}
{% endblock %}