{% extends "base.html.twig" %}

{% block title %}{% if agency %}{{ agency.name }} {%  endif %}{{ branch.name }} | Lettings Agent Reviews | HomeComb{% endblock %}

{% block content %}
    <div class="container">
        {% if agency %}
            <h1>{{ agency.name }} - {{ branch.name }}</h1>
        {% else %}
            <h1>{{ branch.name }}</h1>
        {%  endif %}
    </div>
{% endblock %}
