<div class="social-icons">
    <a href="http://homecomb.co.uk"><img src="{{ email.image('@images/social-icons/facebook.png') }}" alt="Facebook"></a>
    <a href="http://homecomb.co.uk"><img src="{{ email.image('@images/social-icons/twitter.png') }}" alt="Twitter"></a>
    <a href="http://homecomb.co.uk"><img src="{{ email.image('@images/social-icons/youtube.png') }}" alt="Youtube"></a>
    <a href="http://homecomb.co.uk"><img src="{{ email.image('@images/social-icons/instagram.png') }}" alt="Instagram"></a>
    <a href="http://homecomb.co.uk"><img src="{{ email.image('@images/social-icons/linkedin.png') }}" alt="LinkedIn"></a>
    <a href="http://homecomb.co.uk"><img src="{{ email.image('@images/social-icons/website.png') }}" alt="Website"></a>
    <a href="http://homecomb.co.uk"><img src="{{ email.image('@images/social-icons/pinterest.png') }}" alt="Pinterest"></a>
</div>