{% extends "base.html.twig" %}

{% block title %}{{ property.addressLine1 }} | {{ property.postcode }} | {{ site_name }}{% endblock %}

{% block headJavascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
    <script>
       function onSubmit(token) {
         document.getElementById('submitReviewForm').submit();
       }
    </script>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="col-md-12 page-title">
            <h1>{{ property.addressLine1 }}, {{ property.postcode }}</h1>
        </div>

        <div class="col-md-12">
            <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                <h5 class="mb-1">Reviews from tenants</h5>

                {% for review in property.publishedReviews %}
                    {% include 'snippets/review.html.twig' with {'review': review, 'hideProperty': true} %}
                    {{ not loop.last ? '<hr>' }}
                {% else %}
                    <p>
                        There are currently no reviews for this property.
                    </p>
                {% endfor %}
            </div>

            <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                <h5 class="mb-4">Review your tenancy here</h5>
                <p class="mb-2">Are you a current or past tenant at {{ property.addressLine1 }}? We'd love it if you could review your tenant experience!</p>
                <hr>
                <div class="w-100">
                    <form id="submitReviewForm">
                        <input type="hidden" name="propertyId" id="propertyId" value="{{ property.id }}">
                        <input type="hidden" name="propertySlug" id="propertySlug" value="{{ property.slug }}">
                        <div class="form-group">
                            <label for="reviewerName">Your name</label>
                            <input required type="text" class="form-control" name="reviewerName" id="reviewerName" aria-describedby="reviewerNameHelp" placeholder="Enter your name">
                            <small id="reviewerNameHelp" class="form-text text-muted">We will publish this. It doesn't have to be your full name if you don't want.</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="reviewerEmail">Your email</label>
                            <input required type="email" class="form-control" name="reviewerEmail" id="reviewerEmail" aria-describedby="reviewerEmailHelp" placeholder="Enter your email">
                            <small id="reviewerEmailHelp" class="form-text text-muted">We won't publish this, and will only use it if we need to contact you.</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="agencyName">Agency company name</label>
                            <input type="text" class="form-control" name="agencyName" id="agencyName" aria-describedby="agencyNameHelp" placeholder="Enter agency company name">
                            <small id="agencyNameHelp" class="form-text text-muted">Example: Winkworth. Leave blank if unknown or private landlord.</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="agencyBranch">Agency branch location</label>
                            <input type="text" class="form-control" name="agencyBranch" id="agencyBranch" aria-describedby="agencyBranchHelp" placeholder="Enter agency branch">
                            <small id="agencyBranchHelp" class="form-text text-muted">Example: Coventry. Leave blank if unknown or private landlord.</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="reviewTitle">Review title</label>
                            <input required type="text" class="form-control" name="reviewTitle" id="reviewTitle" aria-describedby="reviewTitleHelp" placeholder="Enter review title">
                            <small id="reviewTitleHelp" class="form-text text-muted">A short sentence or two summarising your experience.</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="reviewContent">Your review</label>
                            <textarea required class="form-control" name="reviewContent" id="reviewContent" aria-describedby="reviewContentHelp" placeholder="Enter your review"></textarea>
                            <small id="reviewContentHelp" class="form-text text-muted">Tell us all about your experience with the property, letting agent, landlord etc.</small>
                        </div>
                        <hr>
                        <h2>Star ratings</h2>
                        <div class="form-group">
                            <label for="overallStars">Overall</label>
                            <select class="form-control" name="overallStars" id="overallStars">
                                <option>Select rating (optional)</option>
                                <option value="5">5 stars - best</option>
                                <option value="4">4 stars</option>
                                <option value="3">3 stars</option>
                                <option value="2">2 stars</option>
                                <option value="1">1 star - worst</option>
                                <option>Don't know/prefer not to rate</option>
                            </select>
                            <small id="overallStarsHelp" class="form-text text-muted">Rate your overall tenant experience</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="agencyStars">Agency</label>
                            <select class="form-control" name="agencyStars" id="agencyStars">
                                <option>Select rating (optional)</option>
                                <option value="5">5 stars - best</option>
                                <option value="4">4 stars</option>
                                <option value="3">3 stars</option>
                                <option value="2">2 stars</option>
                                <option value="1">1 star - worst</option>
                                <option>No agency/don't know/prefer not to rate</option>
                            </select>
                            <small id="agencyStarsHelp" class="form-text text-muted">Rate the agency that managed your tenancy, leave blank if there was no agency</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="landlordStars">Landlord</label>
                            <select class="form-control" name="landlordStars" id="landlordStars">
                                <option>Select rating (optional)</option>
                                <option value="5">5 stars - best</option>
                                <option value="4">4 stars</option>
                                <option value="3">3 stars</option>
                                <option value="2">2 stars</option>
                                <option value="1">1 star - worst</option>
                                <option>Don't know/prefer not to rate</option>
                            </select>
                            <small id="landlordStarsHelp" class="form-text text-muted">Rate the landlord, leave blank if you never dealt with them</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="propertyStars">Property</label>
                            <select class="form-control" name="propertyStars" id="propertyStars">
                                <option>Select rating (optional)</option>
                                <option value="5">5 stars - best</option>
                                <option value="4">4 stars</option>
                                <option value="3">3 stars</option>
                                <option value="2">2 stars</option>
                                <option value="1">1 star - worst</option>
                                <option>Don't know/prefer not to rate</option>
                            </select>
                            <small id="landlordStarsHelp" class="form-text text-muted">Rate the property itself</small></div>
                        <hr>
                        <button type="submit"
                            class="btn btn-primary g-recaptcha"
                            data-sitekey="reCAPTCHA_site_key"
                            data-callback="onSubmit"
                            data-action="submit">Share your tenancy review</button>
                    </form>
                </div>
            </div>
        </div>

        {% include 'snippets/flag-review-form.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( function() {
            $('#submitReviewForm').validate({
                submitHandler: function (form) {
                    grecaptcha.ready(function() {
                        grecaptcha.execute('{{ google_recaptcha_site_key }}', {action: 'submit'}).then(function(token) {
                            const input = {
                                propertyId: parseInt($('#propertyId').val()),
                                reviewerName: $('#reviewerName').val(),
                                reviewerEmail: $('#reviewerEmail').val(),
                                agencyName: $('#agencyName').val(),
                                agencyBranch: $('#agencyBranch').val(),
                                reviewTitle: $('#reviewTitle').val(),
                                reviewContent: $('#reviewContent').val(),
                                overallStars: parseInt($('#overallStars').val()),
                                agencyStars: parseInt($('#agencyStars').val()),
                                landlordStars: parseInt($('#landlordStars').val()),
                                propertyStars: parseInt($('#propertyStars').val()),
                                googleReCaptchaToken: token
                            };

                            $.ajax(
                                {
                                   type: 'POST',
                                   url: '/api/submit-review',
                                   data: JSON.stringify(input),
                                   complete: function(output, status)
                                   {
                                       location.href = '/property/' + $('#propertySlug').val();
                                   },
                                 }
                            );
                        });
                    });

                    return false;
                }
            });

            {% include 'snippets/flag-review-jquery.js.twig' with {'successUrl': '/property/' ~ property.slug} %}
        } );
    </script>
{% endblock %}