{% extends "base.html.twig" %}

{% block title %}HomeComb{% endblock %}

{% block headJavascripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
    <script>
       function onSubmit(token) {
         document.getElementById('submitReviewForm').submit();
       }
    </script>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="col-md-12" style="padding-bottom: 20px;">
            <h1>{{ property.addressLine1 }}, {{ property.postcode }}</h1>
        </div>

        <div class="col-md-12">
            <div class="offer-dedicated-body-left">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                        <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                            <h5 class="mb-1">Reviews from previous tenants</h5>

                            {% for review in property.reviews %}
                                <div class="reviews-members pt-4 pb-4">
                                    <div class="reviews-members-header">
                                        <p class="mb-1">
                                            <span class="author" style="font-weight: bold;">{{ review.author }}</span>
                                        </p>
                                        <p class="text-gray">{{ review.createdAt|date('jS F Y') }}</p>
                                    </div>
                                    <div class="reviews-members-body">
                                        <p>{{ review.content }}</p>
                                    </div>
                                    <div class="review-stars">
                                        {% if review.overallStars %}
                                            <div class="overall">
                                                Overall:
                                                <span class="fa fa-star {% if review.overallStars >= 1 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.overallStars >= 2 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.overallStars >= 3 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.overallStars >= 4 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.overallStars >= 5 %} checked {% endif %}"></span>
                                            </div>
                                        {%  endif %}
                                        {% if review.agencyStars %}
                                            <div class="agency">
                                                Agency:
                                                <span class="fa fa-star {% if review.agencyStars >= 1 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.agencyStars >= 2 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.agencyStars >= 3 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.agencyStars >= 4 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.agencyStars >= 5 %} checked {% endif %}"></span>
                                            </div>
                                        {%  endif %}
                                        {% if review.landlordStars %}
                                            <div class="landlord">
                                                Landlord:
                                                <span class="fa fa-star {% if review.landlordStars >= 1 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.landlordStars >= 2 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.landlordStars >= 3 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.landlordStars >= 4 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.landlordStars >= 5 %} checked {% endif %}"></span>
                                            </div>
                                        {%  endif %}
                                        {% if review.propertyStars %}
                                            <div class="property">
                                                Property:
                                                <span class="fa fa-star {% if review.propertyStars >= 1 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.propertyStars >= 2 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.propertyStars >= 3 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.propertyStars >= 4 %} checked {% endif %}"></span>
                                                <span class="fa fa-star {% if review.propertyStars >= 5 %} checked {% endif %}"></span>
                                            </div>
                                        {%  endif %}
                                    </div>
                                </div>
                                {{ not loop.last ? '<hr>' }}
                            {% else %}
                                <p>
                                    There are currently no reviews for this property.
                                </p>
                            {% endfor %}
                        </div>

                        <div class="bg-white rounded shadow-sm p-4 mb-5 rating-review-select-page">
                            <h5 class="mb-4">Review your tenancy here</h5>
                            <p class="mb-2">Have you been a tenant at {{ property.addressLine1 }}? We'd love it if you could review your tenant experience!</p>
                            <hr>
                            <div class="w-100">
                                <form id="submitReviewForm">
                                    <input type="hidden" name="propertyId" id="propertyId" value="{{ property.id }}">
                                    <input type="hidden" name="propertySlug" id="propertySlug" value="{{ property.slug }}">
                                    <div class="form-group">
                                        <label for="reviewerName">Your name</label>
                                        <input required type="text" class="form-control" name="reviewerName" id="reviewerName" aria-describedby="reviewerNameHelp" placeholder="Enter your name">
                                        <small id="reviewerNameHelp" class="form-text text-muted">We will publish this. It doesn't have to be your full name if you don't want.</small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="reviewerEmail">Your email</label>
                                        <input required type="email" class="form-control" name="reviewerEmail" id="reviewerEmail" aria-describedby="reviewerEmailHelp" placeholder="Enter your email">
                                        <small id="reviewerEmailHelp" class="form-text text-muted">We won't publish this, and will only use it if we need to contact you.</small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="agencyName">Agency company name</label>
                                        <input type="text" class="form-control" name="agencyName" id="agencyName" aria-describedby="agencyNameHelp" placeholder="Enter agency company name">
                                        <small id="agencyNameHelp" class="form-text text-muted">Example: Winkworth. Leave blank if unknown or private landlord.</small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="agencyBranch">Agency branch location</label>
                                        <input type="text" class="form-control" name="agencyBranch" id="agencyBranch" aria-describedby="agencyBranchHelp" placeholder="Enter agency branch">
                                        <small id="agencyBranchHelp" class="form-text text-muted">Example: Coventry. Leave blank if unknown or private landlord.</small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="reviewTitle">Review title</label>
                                        <input required type="text" class="form-control" name="reviewTitle" id="reviewTitle" aria-describedby="reviewTitleHelp" placeholder="Enter review title">
                                        <small id="reviewTitleHelp" class="form-text text-muted">A short sentence or two summarising your experience.</small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="reviewContent">Your review</label>
                                        <textarea required class="form-control" name="reviewContent" id="reviewContent" aria-describedby="reviewContentHelp" placeholder="Enter your review"></textarea>
                                        <small id="reviewContentHelp" class="form-text text-muted">Tell us all about your experience with the property, letting agent, landlord etc.</small>
                                    </div>
                                    <hr>
                                    <h2>Star ratings</h2>
                                    <div class="form-group">
                                        <label for="overallStars">Overall</label>
                                        <select class="form-control" name="overallStars" id="overallStars">
                                            <option>Select rating (optional)</option>
                                            <option value="5">5 stars - best</option>
                                            <option value="4">4 stars</option>
                                            <option value="3">3 stars</option>
                                            <option value="2">2 stars</option>
                                            <option value="1">1 star - worst</option>
                                            <option>Don't know/prefer not to rate</option>
                                        </select>
                                        <small id="overallStarsHelp" class="form-text text-muted">Rate your overall tenant experience</small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="agencyStars">Agency</label>
                                        <select class="form-control" name="agencyStars" id="agencyStars">
                                            <option>Select rating (optional)</option>
                                            <option value="5">5 stars - best</option>
                                            <option value="4">4 stars</option>
                                            <option value="3">3 stars</option>
                                            <option value="2">2 stars</option>
                                            <option value="1">1 star - worst</option>
                                            <option>No agency/don't know/prefer not to rate</option>
                                        </select>
                                        <small id="agencyStarsHelp" class="form-text text-muted">Rate the agency that managed your tenancy, leave blank if there was no agency</small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="landlordStars">Landlord</label>
                                        <select class="form-control" name="landlordStars" id="landlordStars">
                                            <option>Select rating (optional)</option>
                                            <option value="5">5 stars - best</option>
                                            <option value="4">4 stars</option>
                                            <option value="3">3 stars</option>
                                            <option value="2">2 stars</option>
                                            <option value="1">1 star - worst</option>
                                            <option>Don't know/prefer not to rate</option>
                                        </select>
                                        <small id="landlordStarsHelp" class="form-text text-muted">Rate the landlord, leave blank if you never dealt with them</small>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="propertyStars">Property</label>
                                        <select class="form-control" name="propertyStars" id="propertyStars">
                                            <option>Select rating (optional)</option>
                                            <option value="5">5 stars - best</option>
                                            <option value="4">4 stars</option>
                                            <option value="3">3 stars</option>
                                            <option value="2">2 stars</option>
                                            <option value="1">1 star - worst</option>
                                            <option>Don't know/prefer not to rate</option>
                                        </select>
                                        <small id="landlordStarsHelp" class="form-text text-muted">Rate the property itself</small></div>
                                    <hr>
                                    <button type="submit"
                                        class="btn btn-primary g-recaptcha"
                                        data-sitekey="reCAPTCHA_site_key"
                                        data-callback="onSubmit"
                                        data-action="submit">Share your tenancy review</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $( function() {
            $('#submitReviewForm').validate({
                submitHandler: function (form) {
                    grecaptcha.ready(function() {
                        grecaptcha.execute('{{ google_recaptcha_site_key }}', {action: 'submit'}).then(function(token) {
                            const input = {
                                propertyId: parseInt($('#propertyId').val()),
                                reviewerName: $('#reviewerName').val(),
                                reviewerEmail: $('#reviewerEmail').val(),
                                agencyName: $('#agencyName').val(),
                                agencyBranch: $('#agencyBranch').val(),
                                reviewTitle: $('#reviewTitle').val(),
                                reviewContent: $('#reviewContent').val(),
                                overallStars: parseInt($('#overallStars').val()),
                                agencyStars: parseInt($('#agencyStars').val()),
                                landlordStars: parseInt($('#landlordStars').val()),
                                propertyStars: parseInt($('#propertyStars').val()),
                                googleReCaptchaToken: token
                            };

                            $.ajax(
                                {
                                   type: 'POST',
                                   url: '/api/submit-review',
                                   data: JSON.stringify(input),
                                   success: function(output)
                                   {
                                       location.href = '/property/' + $('#propertySlug').val();
                                   }
                                 }
                            );
                        });
                    });

                    return false;
                }
            });
        } );
    </script>
{% endblock %}